version: "3"
networks:
  qbt1net:
    name: qbt1net
    driver: bridge
    ipam:
      config:
        - subnet: 172.40.0.0/16

services:
  wgqbt:
    container_name: wgqbt
    image: linuxserver/wireguard:latest
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    environment:
      - PGID=1002
      - PUID=1002
      - TZ=Europe/London
    healthcheck:
      test: curl -sf http://ifconfig.co/asn | grep -v AS7922 || exit 1
      start_period: 25s
    networks:
      qbt1net:
        ipv4_address: 172.40.99.99
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    volumes:
      - /home/qbtuser/wgqbt:/config

  qbt:
    container_name: qbt
    depends_on:
      wgqbt:
        condition: service_healthy
    environment:
      - COMPOSE_PROJECT_NAME=qbt
      - HOST_NETWORK=192.168.193.0/24
      - PGID=1002
      - PUID=1002
      - QBT_WEBUI_PORT=8080
      - TZ=Europe/London
      - WG_GATEWAY=172.40.99.99
    healthcheck:
      test: curl -sf http://ifconfig.co/asn | grep -v AS7922 || exit 1
      start_period: 25s
    image: 9bkerzya/avari:qbt-5.1.4
    networks:
      - qbt1net
    ports:
      - 8080:8080
    privileged: true
    restart: unless-stopped
    volumes:
      - /usr/local/samba/content:/torrents
      - /usr/local/samba/content/movies:/media
      - /tmp:/tmp

  qbtmon:
    container_name: qbtmon
    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
      - AUTOHEAL_INTERVAL=5
      - AUTOHEAL_ONLY_MONITOR_RUNNING=true
      - AUTOHEAL_START_PERIOD=30
    image: willfarrell/autoheal:latest
    networks:
      - qbt1net
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
